# *For Loop*


### Basic Level

1. Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [ ]:
for i in range(1,11):
  print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10

2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [ ]:
list1 = [1, 2, 3, 4, 5, 6, 7]

In [ ]:
sum_of_list = 0

for i in list1:
  sum_of_list += i
print(sum_of_list)

28

3. Write a program to print the characters of a string in reverse order using a `for` loop.

In [ ]:
str1 = 'Hello'

In [ ]:
for i in str1[::-1]:
  print(i, end = '')

olleH

4. Develop a program that finds the factorial of a given number using a `for` loop.

In [ ]:
num = int(input('Enter a number: '))

Enter a number: 4

In [ ]:
for i in range(1, num):
  num *= i
print(num)

24

5. Create a program to print the multiplication table of a given number using a `for` loop.

In [ ]:
num = int(input('Enter a number: '))

Enter a number: 9

In [ ]:
for i in range(1, 11):
  print(f'{num} x {i} = {num * i}')

9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

6. Write a program that counts the number of even and odd numbers in a list using a `for` loop.

In [ ]:
list2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
even = 0
odd = 0

for i in list2:
  if i % 2 == 0:
    even += 1
  else:
    odd += 1

In [ ]:
print(f'Even numbers: {even}')
print(f'Odd numbers: {odd}')

Even numbers: 5
Odd numbers: 5

7. Develop a program that prints the squares of numbers from 1 to 5 using a `for` loop.

In [ ]:
for i in range(1, 6):
  print(i ** 2, end = ' ')

1 4 9 16 25

8. Create a program to find the length of a string without using the `len()` function.

In [ ]:
str2 = 'Hello World'

In [ ]:
length = 0

In [ ]:
for i in str2:
  length += 1
print(length)

11

9. Write a program that calculates the average of a list of numbers using a `for` loop.

In [ ]:
list3 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
for i in list3:
  avg = sum(list3) / len(list3)
print(avg)

5.5

10. Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [ ]:
num = int(input('Enter a number: '))

Enter a number: 7

In [ ]:
a = 0
b = 1
if num <= 0:
  print("Please enter a positive integer")
elif num == 1:
  print(a)
else:
  print(a, end = ' ')
  print(b, end = ' ')
  for i in range(2, num):
    c = a + b
    print(c, end = ' ')
    a = b
    b = c

0 1 1 2 3 5 8

### Intermediate Level

11. Write a program to check if a given list contains any duplicates using a `for` loop.

In [ ]:
list4 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

In [ ]:
count = 0

In [ ]:
for i in list4:
  if list4.count(i) > 1:
    count += 1
    break

In [ ]:
if count > 0:
  print('List contains duplicates')
else:
  print('List does not contain duplicates')

List contains duplicates

12. Create a program that prints the prime numbers in a given range using a `for` loop.

In [ ]:
for i in range(1, 101):
  if i > 1:
    for j in range(2, i):
      if i % j == 0:
        break
    else:
      print(i, end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

13. Develop a program that counts the number of vowels in a string using a `for` loop.

In [ ]:
str3 = 'I am Akash Dhar'

In [ ]:
vowels = 'aeiouAEIOU'

In [ ]:
count = 0

In [ ]:
for i in str3:
  if i in vowels:
    count+=1
print(count)

5

14. Write a program to find the maximum element in a 2D list using a nested `for` loop.

In [ ]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
maximum = matrix[0][0]

In [ ]:
for row in matrix:
  for element in row:
    if element > maximum:
      maximum = element
print('The maximun element in the given 2D list is: ', maximum)

The maximun element in the given 2D list is:  9

15. Create a program that removes all occurrences of a specific element from a list using a `for` loop.

In [ ]:
list5 = [1, 2, 1, 3, 4, 5, 6, 1, 7, 8, 9, 10]

In [ ]:
for i  in list5:
  if i==1:
    list5.remove(i)
print(list5)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

16. Develop a program that generates a multiplication table for numbers from 1 to 5 using a nested `for` loop.

In [ ]:
for i in range(1, 6):
  for j in range(1, 11):
    print('{} * {} = {}'.format(i, j, i*j))
  print()

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

17. Write a program that converts a list of Fahrenheit temperatures to Celsius using a `for` loop.

In [ ]:
farhenheit = [32, 68, 100, 212]

In [ ]:
celsius = []

In [ ]:
for temp in farhenheit:
  cel = (temp - 32) * 5/9
  celsius.append(cel)
print(celsius)

[0.0, 20.0, 37.77777777777778, 100.0]

18. Create a program to print the common elements from two lists using a `for` loop.

In [ ]:
list6 = [1, 2, 3, 4, 5]
list7 = [3, 4, 5, 6, 7]

In [ ]:
for element in list6:
  if element in list7:
    print(element, end = ' ')

3 4 5

19. Develop a program that prints the pattern of right-angled triangles using a `for` loop. Use ‘*’ to draw the
pattern

In [ ]:
for row in range(1, 6):
  for element in range(row):
    print('*', end = ' ')
  print()

*
* *
* * *
* * * *
* * * * *

20. Write a program to find the greatest common divisor (GCD) of two numbers using a `for` loop.

In [ ]:
num1 = int(input('Enter first number: '))
num2 = int(input('Enter second number: '))

Enter first number: 72
Enter second number: 24

In [ ]:
for i in range(1, min(num1, num2) + 1):
  if num1 % i == 0 and num2 % i == 0:
    gcd = i
print(gcd)

24

### Advanced Level:

21. Create a program that calculates the sum of the digits of numbers in a list using a list comprehension.

In [ ]:
list8 = [21, 37, 302, 63]

In [ ]:
for i in range(len(list8)):
  list8[i] = sum(int(digit) for digit in str(list8[i]))
print(list8)

[3, 10, 5, 9]

22. Write a program to find the prime factors of a given number using a `for` loop and list comprehension.

In [ ]:
num = int(input('Enter a number: '))

Enter a number: 69

In [ ]:
prime_factors = [i for i in range(2, num+1) if num % i == 0]

In [ ]:
print(prime_factors)

[3, 23, 69]

23. Develop a program that extracts unique elements from a list and stores them in a new list using a list
comprehension.

In [ ]:
list9 = [1, 2, 2, 3, 4, 4, 5, 6, 6, 7, 8, 8, 9, 10]

In [ ]:
unique_elements = [i for i in list9 if list9.count(i) == 1]

In [ ]:
print(unique_elements)

[1, 3, 5, 7, 9, 10]

24. Create a program that generates a list of all palindromic numbers up to a specified limit using a list
comprehension.

In [ ]:
limit = 200

In [ ]:
palindrome_list = [i for i  in range(1, limit+1) if str(i) == str(i)[::-1]]

In [ ]:
print('List of Palindrome Numbers: ', palindrome_list)

List of Palindrome Numbers:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191]

25. Write a program to flatten a nested list using list comprehension.

In [ ]:
list10 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [ ]:
flatten_list = [element for sublist in list10 for element in sublist]

In [ ]:
print('The flattened list is ', flatten_list)

The flattened list is  [1, 2, 3, 4, 5, 6, 7, 8, 9]

26. Develop a program that computes the sum of even and odd numbers in a list separately using list
comprehension.

In [ ]:
list11 = [1, 97, 23, 92, 13, 123, 34, 78, 30, 24]

In [ ]:
even_sum = sum(i for i in list11 if i % 2 == 0)

In [ ]:
odd_sum = sum(i for i in list11 if i % 2 != 0)

In [ ]:
print('Sum of even numbers: ', even_sum)
print('Sum of odd numbers: ', odd_sum)

Sum of even numbers:  258
Sum of odd numbers:  257

27. Create a program that generates a list of squares of odd numbers between 1 and 10 using list
comprehension.

In [ ]:
square_odd = [i**2 for i in range(1,11) if i % 2 != 0]

In [ ]:
print('The list is as follows: ', square_odd)

The list is as follows:  [1, 9, 25, 49, 81]

28. Write a program that combines two lists into a dictionary using list comprehension.

In [ ]:
list12 = [23, 45, 67, 89, 10]
list13 = ['a', 'b', 'c', 'd', 'e']

In [ ]:
combine_dict = {list13[i]: list12[i] for i in range(len(min(list12, list13, key=len)))}

In [ ]:
print('The combined dictionary is as follows: ', combine_dict)

The combined dictionary is as follows:  {'a': 23, 'b': 45, 'c': 67, 'd': 89, 'e': 10}

29. Develop a program that extracts the vowels from a string and stores them in a list using list comprehension.

In [ ]:
vowels = 'aeiouAEIOU'

In [ ]:
str4 = 'What a wonderfull day it is'

In [ ]:
extract_vowels = [i for i in str4 if i in vowels]

In [ ]:
print('The extracted vowels are: ', extract_vowels)

The extracted vowels are:  ['a', 'a', 'o', 'e', 'u', 'a', 'i', 'i']

30. Create a program that removes all non-numeric characters from a list of strings using list comprehension.

In [ ]:
list14 = ['abc123', '456def', '789ghi', 'jkl']
numeric_char = '0123456789'

In [ ]:
num_list = [''.join(i for i in string if i in numeric_char) for string in list14]

In [ ]:
print('The numeric character list is: ', num_list)

The numeric character list is:  ['123', '456', '789', '']

### Challenge Level:

31. Write a program to generate a list of prime numbers using the Sieve of Eratosthenes algorithm and list
comprehension.

In [ ]:
limit = 30

In [ ]:
primes = [True] * (limit +1)

In [ ]:
for p in range(2, int(limit**0.5)+1):
  if primes[p]:
    for i in range(p*p, limit+1, p):
      primes[i] = False

In [ ]:
prime_number = [prime for prime in range(2, limit+1) if primes[prime]]

In [ ]:
print('The list of prime numbers generated using the Sieve of Eratosthenes algorithm is: ', prime_number)

The list of prime numbers generated using the Sieve of Eratosthenes algorithm is:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

32. Create a program that generates a list of all Pythagorean triplets up to a specified limit using list
comprehension.

In [ ]:
limit = int(input('Enter a limit: '))

Enter a limit: 30

In [ ]:
pythagorean_triplets = [(a, b, c) for a in range(1, limit+1) for b in range(a, limit+1) for c in range(b, limit+1) if a**2 + b**2 == c**2]

In [ ]:
print('The generated list is: ', pythagorean_triplets)

The generated list is:  [(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (10, 24, 26), (12, 16, 20), (15, 20, 25), (18, 24, 30), (20, 21, 29)]

33. Develop a program that generates a list of all possible combinations of two lists using list comprehension.

In [ ]:
list15 = [23, 42, 78, 12]
list16 = [1, 2, 3, 4]

In [ ]:
possible_combinations = [(i, j) for i in list15 for j in list16]

In [ ]:
print('List of all possible combinations of two lists is: ', possible_combinations)

List of all possible combinations of two lists is:  [(23, 1), (23, 2), (23, 3), (23, 4), (42, 1), (42, 2), (42, 3), (42, 4), (78, 1), (78, 2), (78, 3), (78, 4), (12, 1), (12, 2), (12, 3), (12, 4)]

34. Write a program that calculates the mean, median, and mode of a list of numbers using list
comprehension.

In [ ]:
list17 = [23, 45, 67, 89, 78, 12, 34, 56, 78, 90]

In [ ]:
mean = sum([num for num in list17])/len(list17)

In [ ]:
sorted_list = sorted([num for num in list17])
n = len(sorted_list)

In [ ]:
median = sorted_list[n//2] if n % 2 == 1 else (sorted_list[n//2 - 1] + sorted_list[n//2]) / 2

In [ ]:
from statistics import mode

mode_value = mode([num for num in list17])

In [ ]:
print('Mean: ', mean)
print('Median: ', median)
print('Mode: ', mode_value)

Mean:  57.2
Median:  61.5
Mode:  78

35. Create a program that generates Pascal's triangle up to a specified number of rows using list
comprehension.

In [ ]:
rows = int(input('Enter the number of rows: '))

Enter the number of rows: 7

In [ ]:
triangle = [[1]]

In [ ]:
for i in range(1, rows+1):
  row = ([1] + [triangle[i-1][j] + triangle[i-1][j+1] for j in range(i-1)] + [1])
  triangle.append(row)

  print(' ' * (rows - i), end = ' ')
  print(triangle[i-1])

       [1]
      [1, 1]
     [1, 2, 1]
    [1, 3, 3, 1]
   [1, 4, 6, 4, 1]
  [1, 5, 10, 10, 5, 1]
 [1, 6, 15, 20, 15, 6, 1]

36. Develop a program that calculates the sum of the digits of a factorial of numbers from 1 to 5 using list
comprehension.

In [ ]:
for i in range(1, 6):
  facto = 1
  for j in range(1, i+1):
    facto *= j
    sum_of_digits = sum(int(digit) for digit in str(facto))
  print(f'Sum of digits of factorial of {i} is {sum_of_digits}')

Sum of digits of factorial of 1 is 1
Sum of digits of factorial of 2 is 2
Sum of digits of factorial of 3 is 6
Sum of digits of factorial of 4 is 6
Sum of digits of factorial of 5 is 3

37. Write a program that finds the longest word in a sentence using list comprehension.

In [ ]:
sentence = 'Why is the sky blue'

In [ ]:
long_word = 0

In [ ]:
for i in sentence.split():
  long_word = max(long_word, len(i))

longest_word = [i for i in sentence.split() if len(i) == long_word]

In [ ]:
print('The longest word in the given sentence is: ', longest_word)

The longest word in the given sentence is:  ['blue']

38. Create a program that filters a list of strings to include only those with more than three vowels using list
comprehension.

In [ ]:
list18 = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig', 'grape', 'honeydew', 'kiwi', 'lemon', 'mango', 'nectarine']

In [ ]:
vowels = 'aeiouAEIOU'
three_vowel = []

In [ ]:
for string in list18:
  count = 0
  if sum(1 for char in string if char in vowels) > 3:
    three_vowel.append(string)

In [ ]:
print('The filtered list is: ', three_vowel)

The filtered list is:  ['nectarine']

39. Develop a program that calculates the sum of the digits of numbers from 1 to 1000 using list
comprehension.

In [22]:
num_list = list(range(1, 1001))

In [26]:
sum_of_digits = [sum(int(digit) for digit in str(num)) for num in range(1, 1001)]

In [27]:
print('The list is: ', sum_of_digits)

The list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

40. Write a program that generates a list of prime palindromic numbers using list comprehension.

In [29]:
prime_palindrome = [num for num in range(2, 1000)
                    if str(num) == str(num)[::-1] and
                    all(num % i != 0 for i in range(2, int(num**0.5) + 1))]

In [30]:
print('The list of prime pallindromic numbers is: ', prime_palindrome)

The list of prime pallindromic numbers is:  [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]