TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [1]:
s = 'My name is Akash Dhar.'

In [2]:
s[::-1] #Reverse of a string through slicing technique

'.rahD hsakA si eman yM'

2. Check if a string is a palindrome.

In [3]:
s1 = 'madam'

In [4]:
# Using if statement to check is a string is a palindrome or not
if s1 == s1[::-1]:
    print('The given string is a palindrome.')
else:
    print('The given string is not a palindrome.')

The given string is a palindrome.

3. Convert a string to uppercase.

In [5]:
s2 = "what is today's date?"

In [6]:
s2.upper()

"WHAT IS TODAY'S DATE?"

4. Convert a string to lowercase.

In [7]:
s3 = "WHAT IS YOUR NAME?"

In [8]:
s3.lower()

'what is your name?'

5. Count the number of vowels in a string.

In [9]:
s4 = "Can I come over to your place?"

In [10]:
count = 0

for i in s4:
    if i == 'a' or i == 'A':
        count = count+1
    elif i == 'e' or i == 'E':
        count = count+1
    elif i == 'i' or i == 'I':
        count = count+1
    elif i == 'o' or i == 'O':
        count = count+1
    elif i == 'u' or i == 'U':
        count = count+1

In [11]:
print("Number of vowels in the given string: ", count)

Number of vowels in the given string:  11

6. Count the number of consonants in a string.

In [12]:
s5 = "Can I come over to your place?"

In [13]:
count = 0

consonants = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'

for i in s5:
    if i in consonants:
        count = count+1

In [14]:
print("Number of consonants in the given string: ", count)

Number of consonants in the given string:  12

7. Remove all whitespaces from a string.

In [15]:
s6 = 'What day is it today?'

In [16]:
s6.replace(' ','')

'Whatdayisittoday?'

8. Find the length of a string without using the `len()` function.

In [17]:
s7 = 'Sixteen'

In [18]:
count = 0

for i in s7:
    count = count + 1

In [19]:
print('The length of the given string: ', count)

The length of the given string:  7

9. Check if a string contains a specific word.

In [20]:
s8 = 'What is the meaning of this?'

In [21]:
if 'this' in s8:
    print(True)
else:
    print(False)

True

10. Replace a word in a string with another word.

In [22]:
s9 = 'Can I go over there?'

In [23]:
s9.replace('Can','Shall')

'Shall I go over there?'

11. Count the occurrences of a word in a string.

In [24]:
s10 = 'Why is it like that? It is what it is.'

In [25]:
s10.count('is')

3

12. Find the first occurrence of a word in a string.

In [26]:
s11 = 'What of it? Nothing, I was just making a general observation about it.'

In [27]:
s11.find('it')

8

13. Find the last occurrence of a word in a string.

In [28]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [29]:
s11.rfind('it')

67

14. Split a string into a list of words.

In [30]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [31]:
s11.split(' ')

['What',
 'of',
 'it?',
 'Nothing,',
 'I',
 'was',
 'just',
 'making',
 'a',
 'general',
 'observation',
 'about',
 'it.']

15. Join a list of words into a string.

In [32]:
l = ['What', 'do', 'you', 'want', '?']

In [33]:
s12 = ''
s12.join(l)

'Whatdoyouwant?'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [34]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [35]:
s11.replace(' ', '_')

'What_of_it?_Nothing,_I_was_just_making_a_general_observation_about_it.'

17. Check if a string starts with a specific word or phrase.

In [36]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [37]:
s11.startswith('What')

True

18. Check if a string ends with a specific word or phrase.

In [38]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [39]:
s11.endswith('it.')

True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [40]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [41]:
s11.title()

'What Of It? Nothing, I Was Just Making A General Observation About It.'

20. Find the longest word in a string.

In [42]:
s13 = 'are you allowed to be present here at this time of the night'

In [43]:
l1 = s13.split()

In [44]:
l1

['are',
 'you',
 'allowed',
 'to',
 'be',
 'present',
 'here',
 'at',
 'this',
 'time',
 'of',
 'the',
 'night']

In [45]:
s14 = ''
max_length = 0

In [46]:
for i in l1:
    if len(i)>=max_length:
        s14 = i
        max_length = len(i)

In [47]:
print('The longest word in the string: ', s14)

The longest word in the string:  present

21. Find the shortest word in a string.

In [48]:
s15 = 'I am not allowed here'

In [49]:
l2 = s15.split()

In [50]:
l2

['I', 'am', 'not', 'allowed', 'here']

In [51]:
s16 = ''
min_length = 10000000000

In [52]:
for i in l2:
    if len(i)<=min_length:
        s16 = i
        min_length = len(i)

In [53]:
print('The sortest word in the string: ', s16)

The sortest word in the string:  I

22. Reverse the order of words in a string.

In [54]:
s15

'I am not allowed here'

In [55]:
l2 = s15.split()

In [56]:
l2

['I', 'am', 'not', 'allowed', 'here']

In [57]:
l2.reverse()

In [58]:
l2

['here', 'allowed', 'not', 'am', 'I']

In [59]:
s17 = ' '.join(l2)

In [60]:
print('The string in reverse order:',s17)

The string in reverse order: here allowed not am I

23. Check if a string is alphanumeric.

In [61]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [62]:
s11.isalnum()

False

24. Extract all digits from a string.

In [63]:
s18 = 'The year is 2024 and the time is 11:48 AM'

In [64]:
digits = []

for i in s18:
    if i.isdigit():
        digits.append(i)

In [65]:
print('The extracted digits are:', digits)

The extracted digits are: ['2', '0', '2', '4', '1', '1', '4', '8']

25. Extract all alphabets from a string.

In [66]:
s18

'The year is 2024 and the time is 11:48 AM'

In [67]:
alphabets = []

for i in s18:
    if i.isalpha():
        alphabets.append(i)

In [68]:
print('The extracted alphabets are: ', alphabets)

The extracted alphabets are:  ['T', 'h', 'e', 'y', 'e', 'a', 'r', 'i', 's', 'a', 'n', 'd', 't', 'h', 'e', 't', 'i', 'm', 'e', 'i', 's', 'A', 'M']

26. Count the number of uppercase letters in a string.

In [69]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [70]:
count = 0

for i in s11:
    if i.isupper():
        count = count + 1

In [71]:
print('The total number of uppercase letters in the given string are: ', count)

The total number of uppercase letters in the given string are:  3

27. Count the number of lowercase letters in a string.

In [72]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [73]:
count = 0

for i in s11:
    if i.islower():
        count = count + 1

In [74]:
print('The total number of lowercase letters in the given string are: ', count)

The total number of lowercase letters in the given string are:  52

28. Swap the case of each character in a string.

In [75]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [76]:
print('The converted string is: ', s11.swapcase())

The converted string is:  wHAT OF IT? nOTHING, i WAS JUST MAKING A GENERAL OBSERVATION ABOUT IT.

29. Remove a specific word from a string.

In [77]:
s11

'What of it? Nothing, I was just making a general observation about it.'

In [78]:
s11 = s11.replace('general', '')

In [79]:
s11

'What of it? Nothing, I was just making a  observation about it.'

30. Check if a string is a valid email address.
31. Extract the username from an email address string.
32. Extract the domain name from an email address string.

In [80]:
s19 = 'akashdhar@gmail.com'

In [81]:
# Checking if '@' is present in the email address
if '@' not in s19:
    print('Not a valid email address.')

In [82]:
# Splitting the email address into local and domain part. We will check these separately.
local, domain = s19.split('@')
# Checking if the local or domain part is empty
if not local or not domain:
    print('Not a valid email address')

In [83]:
# valid_chars is a string containing all the characters that are considered valid in an email address on a general basis
valid_chars = "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789~!$%^&*_=+}{'?-."

In [84]:
# Checking if any character in the local part if is outside of valid_chars
for i in local:
    if i not in valid_chars:
        print('Not a valid email address.')

In [85]:
# Checking if the domain starts or ends with '.', in which case it would not be a vaid email address 
if domain.startswith('.') or domain.endswith('.'):
    print('Not a valid email address')

In [86]:
# Splitting the domain into two parts with '.' as the seprator 
domain_parts = domain.split('.')
# Checking if any of the domain part is empty
if not domain_parts[0] or not domain_parts[1]:
    print('Not a valid email address')

In [87]:
print('The given string is a valid email address.') # 30.

The given string is a valid email address.

In [88]:
print('The username of the given email address is: ', local) # 31.

The username of the given email address is:  akashdhar

In [89]:
print('The domain name of the given email address is: ', domain) #32.

The domain name of the given email address is:  gmail.com

33. Replace multiple spaces in a string with a single space.

In [90]:
s20 = 'There  is  a  quick  brown  fox  in  the  backyard.'

In [91]:
s20.replace('  ', ' ')

'There is a quick brown fox in the backyard.'

34. Check if a string is a valid URL.
35. Extract the protocol (http or https) from a URL string.

In [92]:
url = 'https://gray-waiter-chkxh.pwskills.app/lab/tree/work/Assignments/20th_August_Python_Basic_Datatypes.ipynb'

In [93]:
# Checking if the URL contains a scheme
if '://' not in url:
    print('Not a valid URL.')

In [94]:
# Checking the valid schemes of the URL
valid_schemes = ["http", "https", "ftp", "file", "mailto"]

if url.split('://')[0] not in valid_schemes:
    print('Not a valid URL.')

In [95]:
# Checking if the URL contains a host name
host_start = url.index('://') + len('://')

if len(url)<=host_start:
    print('Not a valid URL.')
    
if '/' not in url[host_start:]:
    print('Not a valid URL.')

In [96]:
print('The given URL is valid.') #34.

The given URL is valid.

In [97]:
print('The protocol (http or https) from a URL string is: ', url.split('://')[0])

The protocol (http or https) from a URL string is:  https

36. Find the frequency of each character in a string.

In [98]:
s21 = "I am who I am. I don't have to give you any explaination."

In [99]:
freq = {}

for i in s21:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

In [100]:
print('The freqency of each character in the given string is: ', freq)

The freqency of each character in the given string is:  {'I': 3, ' ': 12, 'a': 6, 'm': 2, 'w': 1, 'h': 2, 'o': 5, '.': 2, 'd': 1, 'n': 4, "'": 1, 't': 3, 'v': 2, 'e': 3, 'g': 1, 'i': 3, 'y': 2, 'u': 1, 'x': 1, 'p': 1, 'l': 1}

37. Remove all punctuation from a string.

In [101]:
s22 = "Wow! What is that thing? It is so beautiful, I can't take my eyes off of it."

In [102]:
punctuations = '''!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~'''

In [103]:
for i in s22:
    if i in punctuations:
        s22 = s22.replace(i,'')

In [104]:
print('The string after removal of all punctuations is: ', s22)

The string after removal of all punctuations is:  Wow What is that thing It is so beautiful I cant take my eyes off of it

38. Check if a string contains only digits.

In [105]:
s23 = 'What is the number between 22 and 24?'

In [106]:
s23.isdigit()

False

39. Check if a string contains only alphabets.

In [107]:
s23

'What is the number between 22 and 24?'

In [108]:
s23.isalpha()

False

40. Convert a string to a list of characters.

In [109]:
s23

'What is the number between 22 and 24?'

In [110]:
l3 = list(s23)

In [111]:
print("The string converted to a list is: ", l3)

The string converted to a list is:  ['W', 'h', 'a', 't', ' ', 'i', 's', ' ', 't', 'h', 'e', ' ', 'n', 'u', 'm', 'b', 'e', 'r', ' ', 'b', 'e', 't', 'w', 'e', 'e', 'n', ' ', '2', '2', ' ', 'a', 'n', 'd', ' ', '2', '4', '?']

41. Check if two strings are anagrams.

In [112]:
string1 = 'abcdef'
string2 = 'afecdb'

In [113]:
set1 = set(string1)
set2 = set(string2)

In [114]:
if set1 == set2:
    print('The two strings are anagrams.')

The two strings are anagrams.

42. Encode a string using a Caesar cipher.
43. Decode a Caesar cipher encoded string.

In [115]:
s24 = 'brackets'

In [116]:
# ENCODING

encoded_string = []
# Assigning a shift value as is required in Ceaser Cipher
shift = 6

for i in s24:
#   Checking/assigning the shift within the range of 0-25
    actual_shift = shift%26
    
#   Assigning an offset value based on whether the current character is an uppercase or lowercase alphabet
    ascii_offset = ord('A') if i.isupper() else ord('a') 
    
    ''' 
    Explaination using example:
    Let's take the example of s24. The first charcater is 'b'. 
    
    ord('b') = 98
    ascii_offset = 97
    ord('b')-ascii_offset = 98-97 = 1 ; This normalises 'b' within the range of 0-25
    ord('b')-ascii_offset+actual_shift = 1+6 = 7 ; The shift is done
    (ord('b')-ascii_offset+actual_shift)%26 = 7%26 = 7 ; This normalises the value again within the range of 0-25
    ((ord('b')-ascii_offset+actual_shift)%26)+ascii_offset = 7+97 = 104 ; Adding the ascii_offset, to convert back to original range
    chr(((ord('b')-ascii_offset+actual_shift)%26)+ascii_offset) = chr(104) = 'h' ; This finally gives us the Ceaser Cipher for 'b'
    
    The rest of the process is similar.
    '''

    encoded_char = chr(((ord(i) - ascii_offset + actual_shift)%26)+ascii_offset)
    encoded_string.append(encoded_char)

In [117]:
print('The encoded string using Ceaser Cipher is: ', ''.join(encoded_string)) #42.

The encoded string using Ceaser Cipher is:  hxgiqkzy

In [118]:
# DECODING

decoded_string = []
# Assigning shift value as -shift for decoding of the cipher
shift = -shift

for i in encoded_string:
#   Checking/assigning the shift within the range of 0-25
    actual_shift = shift%26
    
#   Assigning an offset value based on whether the current character is an uppercase or lowercase alphabet
    ascii_offset = ord('A') if i.isupper() else ord('a') 

    decoded_char = chr(((ord(i) - ascii_offset + actual_shift)%26)+ascii_offset)
    decoded_string.append(decoded_char)

In [119]:
print('The decoded string using Ceaser Cipher is: ', ''.join(decoded_string)) #43.

The decoded string using Ceaser Cipher is:  brackets

44. Find the most frequent word in a string.

In [120]:
s21

"I am who I am. I don't have to give you any explaination."

In [121]:
# Importing string module to use the string.punctuation method. 
import string

# This makes a translation table that maps each punctuation into a space.
translator = str.maketrans(string.punctuation, ' '*len(string.punctuation))

# Appying the translator on the given string s21
cleared_str = s21.translate(translator).lower()

In [122]:
l4 = s21.split(' ')

In [123]:
freq = {}

for i in l4:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1
        
most_freq_word = max(freq, key=freq.get)

In [124]:
print('The most frequent word in the given string is: ', most_freq_word)

The most frequent word in the given string is:  I

45. Find all unique words in a string.

In [125]:
s25 = 'What is there to be discuss? What is it? There shall be no more disscussion on this.'

In [126]:
translated = str.maketrans(string.punctuation, ' '*len(string.punctuation))
cleared_string = s25.translate(translated).lower()

In [127]:
cleared_string

'what is there to be discuss  what is it  there shall be no more disscussion on this '

In [128]:
l5 = cleared_string.split()

In [129]:
freq = {}
for i in l5:
    if i in freq:
        freq[i] += 1
    else:
        freq[i] = 1

In [130]:
unique_words = []

for i in freq:
    if freq[i] == 1:
        unique_words.append(i)

In [131]:
print('All the unique words in the string are as follows: ', unique_words)

All the unique words in the string are as follows:  ['to', 'discuss', 'it', 'shall', 'no', 'more', 'disscussion', 'on', 'this']

46. Count the number of syllables in a string.

In [132]:
s26 = 'This is a test. This test is only a test!'

In [133]:
translated = str.maketrans(string.punctuation, ' '*len(string.punctuation))
cleared_string = s26.translate(translated).lower()

In [134]:
words = cleared_string.split()

In [135]:
words

['this', 'is', 'a', 'test', 'this', 'test', 'is', 'only', 'a', 'test']

In [136]:
vowels = 'aeiouy'
total_syllable = 0

for word in words:
    syllable_count = 0
    prev_word_vowel = False

    # Counting the number of syllables
    for i, char in enumerate(word):
        # print(i, char)
        if char in vowels:
            if not prev_word_vowel:
                syllable_count += 1
                prev_word_vowel = True
        else:
            prev_word_vowel = False

    # Handling the silent 'e'
    if word.endswith('e') and syllable_count>1:
        syllable_count -= 1

    # Setting the syllable count to 1 in case the syllable count is 0
    if syllable_count == 0:
        syllable_count = 1
        
    # Adding the syllables from each word in the list
    total_syllable += syllable_count

In [137]:
print('The total number of syllables in the given string are: ', total_syllable)

The total number of syllables in the given string are:  11

47. Check if a string contains any special characters.

In [138]:
s21

"I am who I am. I don't have to give you any explaination."

In [139]:
special_char = '''!@#$%^&*()_-+={}[]|\:;''""<,>.?/~`'''

In [140]:
l6 = [] 

for i in s21:
    if i in special_char:
        l6.append(i)  

if len(l6) == 0:
    print('The given string does not contain any special characters.')
else:
    print('The given string contains the following special charcters: ', l6)

The given string contains the following special charcters:  ['.', "'", '.']

48. Remove the nth word from a string.
49. Insert a word at the nth position in a string.

In [141]:
s27 = input('Enter the string: ')

Enter the string:  what is this place

In [142]:
words = s27.split()

In [143]:
n_word1 = int(input('Enter the index (from 1 to {}) of the word you want to remove: '.format(len(words))))

Enter the index (from 1 to 4) of the word you want to remove:  3

In [144]:
if not isinstance(s27, str):
    print('Input must be a string')

In [145]:
if n_word1 < 0 or n_word1 > len(words):
    print('Input must be in the range of 1 to {}.'.format(len(words)))

In [146]:
punc_char = string.punctuation   

cleaned_words = [''.join(char for char in word if char not in punc_char)for word in words]

In [147]:
cleaned_words

['what', 'is', 'this', 'place']

In [148]:
del cleaned_words[n_word1-1]

In [149]:
result_string1 = ' '.join(cleaned_words)

In [150]:
print('The resulting string after removing the word at index {} is: '.format(n_word1), result_string1) #48.

The resulting string after removing the word at index 3 is:  what is place

In [151]:
n_word2 = int(input('Enter the index (from 1 to {}) where you want to insert the new word: '.format(len(cleaned_words))))

Enter the index (from 1 to 3) where you want to insert the new word:  3

In [152]:
insert_word = input('Enter the word that you want to insert: ')

Enter the word that you want to insert:  this

In [153]:
cleaned_words.insert(n_word2-1, insert_word)

In [154]:
result_string2 = ' '.join(cleaned_words)

In [155]:
print('The resulting string after inserting the word at index {} is: '.format(n_word2), result_string2) #49.

The resulting string after inserting the word at index 3 is:  what is this place

50. Convert a CSV string to a list of lists.

In [156]:
csv_string = '''name,age,city
Akash,26,Jammu
Anuj,28,Datia
Chetan,27,Port Blair'''

In [157]:
import csv
from io import StringIO

In [158]:
csv_file = StringIO(csv_string)

In [159]:
reader = csv.reader(csv_file)

In [160]:
list_of_lists = [row for row in reader]

In [161]:
print('The CSV string converted to list of lists is as follows: \n', list_of_lists)

The CSV string converted to list of lists is as follows:
 [['name', 'age', 'city'], ['Akash', '26', 'Jammu'], ['Anuj', '28', 'Datia'], ['Chetan', '27', 'Port Blair']]

# List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [162]:
l1 = list(range(10))

In [163]:
print('List with integers from 1 to 10: ', l1)

List with integers from 1 to 10:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

2. Find the length of a list without using the `len()` function.

In [164]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [165]:
count = 0

for i in l1:
    count += 1
    
print('The length of the list is: ', count)

The length of the list is:  10

3. Append an element to the end of a list.

In [166]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [167]:
l1.append(10)

In [168]:
print('The new list with an element added to its end is: ', l1)

The new list with an element added to its end is:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

4. Insert an element at a specific index in a list.

In [169]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [170]:
l1.insert(4, 11)
l1.insert(10, 11)

In [171]:
print('The new list is: ', l1)

The new list is:  [0, 1, 2, 3, 11, 4, 5, 6, 7, 8, 11, 9, 10]

5. Remove an element from a list by its value.

In [172]:
l1

[0, 1, 2, 3, 11, 4, 5, 6, 7, 8, 11, 9, 10]

In [173]:
value_to_remove = 11

In [174]:
# Using for loop to remove all occurences of the element to be removed
for i in l1:
    if l1[i] == value_to_remove:
        l1.remove(value_to_remove)

In [175]:
print('The new list is: ', l1)

The new list is:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [176]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [177]:
index_val = 10

In [178]:
l1.pop(index_val)

10

In [179]:
print('The new list is: ', l1)

The new list is:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

7. Check if an element exists in a list.

In [180]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
val_check = 5
count = 0

In [182]:
for i in l1:
    if l1[i] == val_check:
        count += 1
if count >= 1:
    print('The given value is present in the list.')
else:
    print('The given value is not present in the list.')

The given value is present in the list.

8. Find the index of the first occurrence of an element in a list.

In [183]:
l2 = [2, 3, 5, 2, 65, 1, 9, 23, 65]

In [184]:
l2.index(2)

0

In [185]:
l2.index(65)

4

9. Count the occurrences of an element in a list.

In [186]:
l2

[2, 3, 5, 2, 65, 1, 9, 23, 65]

In [187]:
element_to_count = 2
count = 0

In [188]:
for i in l2:
    if i == element_to_count:
        count += 1
    
if count > 1:
    print('The occurence of element {} in the given list is: '.format(element_to_count), count)
else:
    print('There is only a single occurence of the element {} in the given list.'.format(element_to_count))

The occurence of element 2 in the given list is:  2

10. Reverse the order of elements in a list.

In [189]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [190]:
l1.reverse()

In [191]:
print('The given list in reverese order is: ', l1)

The given list in reverese order is:  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

11. Sort a list in ascending order.

In [192]:
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [193]:
l1.sort()

In [194]:
print('The sorted list is: ', l1)

The sorted list is:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

12. Sort a list in descending order.

In [195]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [196]:
l1.sort(reverse=True)

In [197]:
print('The list in descending order is: ', l1)

The list in descending order is:  [9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

13. Create a list of even numbers from 1 to 20.

In [198]:
l3 = list(range(2,21,2))

In [199]:
print('The list is: ', l3)

The list is:  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [200]:
l4 = list(range(1,20,2))

In [201]:
print('The list is: ', l4)

The list is:  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [202]:
l3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [203]:
list_sum = 0

In [204]:
for i in l3:
    list_sum += i

In [205]:
print('The sum of all elements in the given list is: ', list_sum)

The sum of all elements in the given list is:  110

16. Find the maximum value in a list.

In [206]:
l2

[2, 3, 5, 2, 65, 1, 9, 23, 65]

In [207]:
max_val = 0

for i in range(len(l2)-1):
    if max_val >= l2[i]:
        max_val = max_val
    else:
        max_val = l2[i]

In [208]:
print('The maximum value in the given list is: ', max_val)

The maximum value in the given list is:  65

17. Find the minimum value in a list.

In [209]:
l2

[2, 3, 5, 2, 65, 1, 9, 23, 65]

In [210]:
min_val = 9999999999999

for i in range(len(l2)-1):
    if min_val <= l2[i]:
        min_val = min_val
    else:
        min_val = l2[i]

In [211]:
print('The minimum value in the given list is: ', min_val)

The minimum value in the given list is:  1

18. Create a list of squares of numbers from 1 to 10.

In [212]:
l5 = []

In [213]:
for i in range(1,11):
    l5.append(i*i)

In [214]:
print('The list with squares of numbers from 1 to 10 is: ', l5)

The list with squares of numbers from 1 to 10 is:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [215]:
import random

In [216]:
for i in range(1, 11):
    l6.append(random.randint(1, 100))

In [217]:
print('The list with random numbers is: ', l6)

The list with random numbers is:  ['.', "'", '.', 56, 57, 66, 48, 60, 36, 58, 2, 56, 7]

20. Remove duplicates from a list.

In [218]:
l2

[2, 3, 5, 2, 65, 1, 9, 23, 65]

In [219]:
seen = set()
unique_list = []

In [220]:
for i in l2:
    if i not in seen:
        unique_list.append(i)
        seen.add(i)

In [221]:
print('The list after removing duplicates is: ', unique_list)

The list after removing duplicates is:  [2, 3, 5, 65, 1, 9, 23]

21. Find the common elements between two lists.

In [222]:
l7 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [223]:
l8 = [5, 7, 9, 11, 13, 15, 17, 19]

In [224]:
common_element = []

In [225]:
for i in l7:
    if i in l8:
        common_element.append(i)

In [226]:
print('The common elements in the two lists are: ', common_element)

The common elements in the two lists are:  [5, 7, 9]

22. Find the difference between two lists.

In [227]:
l7

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [228]:
l8

[5, 7, 9, 11, 13, 15, 17, 19]

In [229]:
different_element = []

In [230]:
for i in l7:
    if i not in l8:
        different_element.append(i)

In [231]:
print('The difference between the two given lists is: ', different_element)

The difference between the two given lists is:  [1, 2, 3, 4, 6, 8]

23. Merge two lists.

In [232]:
l9 = [1,2,3]

In [233]:
l10 = [4,5,6]

In [234]:
merged_list = []

In [235]:
merged_list = l9 + l10

In [236]:
print('The new merged list is: ', merged_list)

The new merged list is:  [1, 2, 3, 4, 5, 6]

24. Multiply all elements in a list by 2.

In [237]:
l11 = [1,2,3,4,5,6,7,8,9]

In [238]:
for i in range(len(l11)):
    l11[i] = l11[i]*2

In [239]:
print('The new list is: ', l11)

The new list is:  [2, 4, 6, 8, 10, 12, 14, 16, 18]

25. Filter out all even numbers from a list.

In [240]:
l1

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [241]:
for i in l1:
    if i%2 == 0:
        l1.remove(i)

In [242]:
print('The new list after filtering out all even numbers is: ', l1)

The new list after filtering out all even numbers is:  [9, 7, 5, 3, 1]

26. Convert a list of strings to a list of integers.

In [243]:
l12 = ['1', '2', '3', '4']

In [244]:
l12

['1', '2', '3', '4']

In [245]:
for i in range(len(l12)):
    l12[i] = int(l12[i])

In [246]:
print('The converted list is: ', l12)

The converted list is:  [1, 2, 3, 4]

27. Convert a list of integers to a list of strings.

In [247]:
l12

[1, 2, 3, 4]

In [248]:
l12

[1, 2, 3, 4]

In [249]:
for i in range(len(l12)):
    l12[i] = str(l12[i])

In [250]:
print('The converted list is :', l12)

The converted list is : ['1', '2', '3', '4']

28. Flatten a nested list.

In [251]:
l13 = [[1,2,3],[4,5,6],[7,8,9]]

In [252]:
flattened_list = []

In [253]:
for i in l13:
    if isinstance(i, list):
        flattened_list.extend(i)
    else:
        flattened_list.appened(i)

In [254]:
print('The flattened list is: ', flattened_list)

The flattened list is:  [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [255]:
fibonacci_no = []

In [256]:
for i in range(0,10):
    # print(i)
    if i<=1:
        fibonacci_no.append(i)
    else:
        next_digit = fibonacci_no[i-1] + fibonacci_no[i-2]
        fibonacci_no.append(next_digit)

In [257]:
print('The list of first 10 Fibonacci numbers is: ', fibonacci_no)

The list of first 10 Fibonacci numbers is:  [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [258]:
l14 = [1,3,6,4,8,12,43,23]

In [259]:
if l14 == sorted(l14):
    print('The list is sorted.')
else:
    print('The list is not sorted.')

The list is not sorted.

31. Rotate a list to the left by `n` positions.

In [260]:
l15 = [1, 2, 5, 2, 7, 4, 9, 8]

In [261]:
n_pos = int(input('Enter the value by which the list is to be shifted leftward: '))

Enter the value by which the list is to be shifted leftward:  3

In [262]:
n_pos = n_pos%len(l15)

In [263]:
rotated_list_left = l15[:]

In [264]:
for i in range(n_pos):
    first_element = rotated_list_left.pop(0)
    rotated_list_left.append(first_element)

In [265]:
print('The rotated list is: ', rotated_list_left)

The rotated list is:  [2, 7, 4, 9, 8, 1, 2, 5]

32. Rotate a list to the right by `n` positions.

In [266]:
l15

[1, 2, 5, 2, 7, 4, 9, 8]

In [267]:
n_pos = int(input('Enter the value by which the list is to be shifted rightward: '))

Enter the value by which the list is to be shifted rightward:  3

In [268]:
rotated_list_right = l15[:]

In [269]:
for i in range(n_pos):
    last_element = rotated_list_right.pop()
    rotated_list_right.insert(0, last_element)

In [270]:
rotated_list_right

[4, 9, 8, 1, 2, 5, 2, 7]

33. Create a list of prime numbers up to 50.

In [271]:
prime_no = []

In [272]:
for num in range(2, 51):
    is_prime = True
    for i in range(2, int(num**0.5)+1):
        if num%i == 0:
            is_prime = False
            break
    if is_prime:
        prime_no.append(num)

In [273]:
print('The list of prime numbers upto 50 is: ', prime_no)

The list of prime numbers upto 50 is:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [274]:
l16 = [1,2,3,4,5,6,7,8,9]

In [275]:
n = int(input('Enter the value by which the list is to be chunked: '))

Enter the value by which the list is to be chunked:  4

In [276]:
chunk_list = []

In [277]:
for i in range(0, len(l16), n):
    chunk_list.append(l16[i:i+n])

In [278]:
chunk_list

[[1, 2, 3, 4], [5, 6, 7, 8], [9]]

35. Find the second largest number in a list.

In [279]:
l17 = [23, 35, 25, 98, 67, 82, 25]

In [280]:
l17.sort(reverse=True)

In [281]:
second_largest = list(set(l17))

In [282]:
print('The second largest number in the list is: ', second_largest[1])

The second largest number in the list is:  35

36. Replace every element in a list with its square.

In [283]:
l16

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [284]:
for i in range(len(l16)):
    l16[i] = l16[i]**2

In [285]:
print('The new list is: ', l16)

The new list is:  [1, 4, 9, 16, 25, 36, 49, 64, 81]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [286]:
l18 = [23, 35, 36, 123, 364, 12, 45]

In [287]:
indices_dict = {}

In [288]:
for i in range(len(l18)):
    indices_dict[l18[i]] = i

In [289]:
indices_dict

{23: 0, 35: 1, 36: 2, 123: 3, 364: 4, 12: 5, 45: 6}

38. Shuffle the elements of a list randomly.

In [290]:
l19 = [12, 124, 45, 123, 354, 546, 23, 54]

In [291]:
random.shuffle(l19)

In [292]:
print('The shuffled list is: ',l19)

The shuffled list is:  [123, 124, 354, 12, 546, 45, 54, 23]

39. Create a list of the first 10 factorial numbers.

In [293]:
n_fact = []

In [294]:
import math

In [295]:
n_fact = [math.factorial(i) for i in range(10)]

In [296]:
print('The list with first 10 factorial numbers is: ', n_fact)

The list with first 10 factorial numbers is:  [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [297]:
l15

[1, 2, 5, 2, 7, 4, 9, 8]

In [298]:
l16

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [299]:
for i in l15:
    if i in l16:
        print('The two lists have at least one common element.')
        break
    else:
        print('The two lists have no common elements.')

The two lists have at least one common element.

41. Remove all elements from a list.

In [300]:
l17

[98, 82, 67, 35, 25, 25, 23]

In [301]:
l17.clear()

In [302]:
print('All items have been removed, the new list is: ', l17)

All items have been removed, the new list is:  []

42. Replace negative numbers in a list with 0.

In [303]:
l20 = [121, -213, 34, 12, -45, 234, -937]

In [304]:
for i in range(len(l20)):
    if l20[i]<0:
        l20[i] = 0

In [305]:
print('The new list is: ', l20)

The new list is:  [121, 0, 34, 12, 0, 234, 0]

43. Convert a string into a list of words.

In [306]:
s22

'Wow What is that thing It is so beautiful I cant take my eyes off of it'

In [307]:
l21 = s22.split()

In [308]:
print('The converted list is: ', l21)

The converted list is:  ['Wow', 'What', 'is', 'that', 'thing', 'It', 'is', 'so', 'beautiful', 'I', 'cant', 'take', 'my', 'eyes', 'off', 'of', 'it']

44. Convert a list of words into a string.

In [309]:
l21

['Wow',
 'What',
 'is',
 'that',
 'thing',
 'It',
 'is',
 'so',
 'beautiful',
 'I',
 'cant',
 'take',
 'my',
 'eyes',
 'off',
 'of',
 'it']

In [310]:
s28 = ' '.join(l21)

In [311]:
print('The string is: ', s28)

The string is:  Wow What is that thing It is so beautiful I cant take my eyes off of it

45. Create a list of the first `n` powers of 2.

In [312]:
pow_two = []

In [313]:
n_pow = int(input('Enter the value till which you want the power of two: '))

Enter the value till which you want the power of two:  5

In [314]:
pow_two = [math.pow(2, i) for i in range(n_pow)]

In [315]:
print('The new list is: ', pow_two)

The new list is:  [1.0, 2.0, 4.0, 8.0, 16.0]

46. Find the longest string in a list of strings.

In [316]:
l21

['Wow',
 'What',
 'is',
 'that',
 'thing',
 'It',
 'is',
 'so',
 'beautiful',
 'I',
 'cant',
 'take',
 'my',
 'eyes',
 'off',
 'of',
 'it']

In [317]:
longest_string = ''

In [318]:
for i in range(len(l21)):
    if len(longest_string) >= len(l21[i])  :
        longest_string = longest_string
    else:
        longest_string = l21[i]

In [319]:
print('The longest string in a list of strings is: ', longest_string)

The longest string in a list of strings is:  beautiful

47. Find the shortest string in a list of strings.

In [320]:
l21

['Wow',
 'What',
 'is',
 'that',
 'thing',
 'It',
 'is',
 'so',
 'beautiful',
 'I',
 'cant',
 'take',
 'my',
 'eyes',
 'off',
 'of',
 'it']

In [321]:
shortest_string = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [322]:
for i in range(len(l21)):
    if len(shortest_string) <= len(l21[i]):
        shortest_string = shortest_string
    else:
        shortest_string = l21[i]

In [323]:
print('The shortest string in a list of strings is: ', shortest_string)

The shortest string in a list of strings is:  I

48. Create a list of the first `n` triangular numbers.

In [324]:
tri_list = []

In [325]:
n_tri = int(input('Enter the number till which you want the triangular numbers: '))

Enter the number till which you want the triangular numbers:  10

In [326]:
for i in range(1, n_tri+1):
    result = 1
    result = (i*(i+1))/2
    tri_list.append(result)

In [327]:
print('The list with first {} triangular numbers is: '.format(n_tri), tri_list)

The list with first 10 triangular numbers is:  [1.0, 3.0, 6.0, 10.0, 15.0, 21.0, 28.0, 36.0, 45.0, 55.0]

49. Check if a list contains another list as a subsequence.

In [328]:
main_list = [1,2,3,4,5]
sub_list = [2,4]

In [329]:
m, n = len(main_list), len(sub_list)
i, j = 0, 0

In [330]:
while i<m and j<n:
    if main_list[i] == sub_list[j]:
        j += 1
    i +=1

In [331]:
if j == n:
    print('The list contains another list as a subsequence.')
else:
    print('The list does not contains another list as a subsequence.')

The list contains another list as a subsequence.

50. Swap two elements in a list by their indices.

In [332]:
l22 = [2, 4, 6, 8, 10]

In [333]:
index1 = int(input('Enter the first index where you want the element swap to take place: '))

Enter the first index where you want the element swap to take place:  4

In [334]:
index2 = int(input('Enter the second index where you want the element swap to take place: '))

Enter the second index where you want the element swap to take place:  2

In [335]:
if index1>=len(l22) or index2>=len(l22) or index1<0 or index2<0:
    print('Indices out of range. Please choose indices between 0 and {}.'.format(len(l22)-1))

In [336]:
l22[index1], l22[index2] = l22[index2], l22[index1]

In [337]:
print('The new list with swaped elements is: ', l22)

The new list with swaped elements is:  [2, 4, 10, 8, 6]

# Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [338]:
t1 = tuple(range(1,6))

In [339]:
t1

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [340]:
t1

(1, 2, 3, 4, 5)

In [341]:
print('The third element of the tuple is: ',t1[2])

The third element of the tuple is:  3

3. Find the length of a tuple without using the `len()` function.

In [342]:
t1

(1, 2, 3, 4, 5)

In [343]:
count = 0

In [344]:
for i in t1:
    count += 1

In [345]:
print('The length of the given tuple is: ', count)

The length of the given tuple is:  5

4. Count the occurrences of an element in a tuple.

In [346]:
t2 = (1, 3, 2, 6, 3, 7, 4, 3)

In [347]:
t2.count(3)

3

5. Find the index of the first occurrence of an element in a tuple.

In [348]:
t2

(1, 3, 2, 6, 3, 7, 4, 3)

In [349]:
t2.index(3)

1

6. Check if an element exists in a tuple.

In [350]:
t1

(1, 2, 3, 4, 5)

In [351]:
check_element = 3
present = False

In [352]:
for i in t1:
    if i == check_element:
        present = True
        break

In [353]:
if present == True:
    print('The element is present.')
else:
    print('The element is not present.')

The element is present.

7. Convert a tuple to a list.

In [354]:
t1

(1, 2, 3, 4, 5)

In [355]:
l23 = list(t1)

In [356]:
l23

[1, 2, 3, 4, 5]

8. Convert a list to a tuple.

In [357]:
l22

[2, 4, 10, 8, 6]

In [358]:
t3 = tuple(l22)

In [359]:
t3

(2, 4, 10, 8, 6)

9. Unpack the elements of a tuple into variables.

In [360]:
t3

(2, 4, 10, 8, 6)

In [361]:
a, *b, c = t3

In [362]:
a

2

In [363]:
b

[4, 10, 8]

In [364]:
c

6

10. Create a tuple of even numbers from 1 to 10.

In [365]:
l24 = []

In [366]:
for i in range(1,11):
    if i%2 == 0:
        l24.append(i)

In [367]:
t4 = tuple(l24)

In [368]:
t4

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [369]:
l25 = []

In [370]:
for i in range(1,11):
    if i%2!=0:
        l25.append(i)

In [371]:
t5 = tuple(l25)

In [372]:
t5

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [373]:
t4

(2, 4, 6, 8, 10)

In [374]:
t5

(1, 3, 5, 7, 9)

In [375]:
t6 = t4+t5

In [376]:
t6

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

13. Repeat a tuple three times.

In [377]:
t1

(1, 2, 3, 4, 5)

In [378]:
t1*3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

14. Check if a tuple is empty.

In [379]:
t7 = ()

In [380]:
count = 0

for i in t7:
    count += 1

In [381]:
if count!=0:
    print('Tuple is not empty.')
else:
    print('Tuple is empty')

Tuple is empty

15. Create a nested tuple.
16. Access the first element of a nested tuple.

In [382]:
t1

(1, 2, 3, 4, 5)

In [383]:
t7 = (1, 2, t1, 8)

In [384]:
t7 #15.

(1, 2, (1, 2, 3, 4, 5), 8)

In [385]:
t7[0] #16.

1

17. Create a tuple with a single element.

In [386]:
t8 = (1,)

In [387]:
type(t8), t8

(tuple, (1,))

18. Compare two tuples.

In [388]:
tup1 = (1, 2, 3)
tup2 = (1, 2, 3)
tup3 = (1, 2, 4)
tup4 = (0, 1, 2)

In [389]:
are_equal = tup1 == tup2
print(are_equal)

True

In [390]:
are_not_equal = tup1 != tup3
print(are_not_equal)

True

In [391]:
is_greater = tup1 > tup3
print(is_greater)

False

In [392]:
is_lesser = tup4 < tup3
print(is_lesser)

True

In [393]:
is_greater_or_equal = tup1 >= tup2
print(is_greater_or_equal)

True

In [394]:
is_lesser_or_equal = tup4 <= tup1
print(is_lesser_or_equal)

True

19. Delete a tuple.

In [395]:
t8

(1,)

In [396]:
del t8

In [397]:
try:
    print(t8)
except NameError as e:
    print('Error: ',e)

Error:  name 't8' is not defined

20. Slice a tuple.

In [398]:
t7

(1, 2, (1, 2, 3, 4, 5), 8)

In [399]:
t7[2:]

((1, 2, 3, 4, 5), 8)

21. Find the maximum value in a tuple.

In [400]:
t6

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [401]:
max_val = 0

In [402]:
for i in t6:
    if max_val < i:
        max_val = i
    else:
        max_val

In [403]:
print('The maximum value in the tuple is: ', max_val)

The maximum value in the tuple is:  10

22. Find the minimum value in a tuple.

In [404]:
t6

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [405]:
min_val = 999999999999

In [406]:
for i in t6:
    if min_val > i:
        min_val = i
    else:
        min_val

In [407]:
print('The minimum value in the tuple is: ', min_val)

The minimum value in the tuple is:  1

23. Convert a string to a tuple of characters.

In [408]:
s29 = 'madam'

In [409]:
l26 = []

In [410]:
for i in s29:
    l26.append(i)

In [411]:
l26

['m', 'a', 'd', 'a', 'm']

In [412]:
t8 = tuple(l26)

In [413]:
t8

('m', 'a', 'd', 'a', 'm')

24. Convert a tuple of characters to a string.

In [414]:
t9 = ('k', 'i', 't', 'e')

In [415]:
s30 = ''.join(t9)

In [416]:
s30

'kite'

25. Create a tuple from multiple data types.

In [417]:
mix_tuple = (1, 2, 3.14, 'akash', 6+7j, [7, 8, 9], {'a':1, 'b':10}, (12, 13, 14))

In [418]:
mix_tuple

(1, 2, 3.14, 'akash', (6+7j), [7, 8, 9], {'a': 1, 'b': 10}, (12, 13, 14))

26. Check if two tuples are identical.

In [419]:
tup1

(1, 2, 3)

In [420]:
tup2

(1, 2, 3)

In [421]:
are_identical = tup1 == tup2

In [422]:
print(are_identical)

True

27. Sort the elements of a tuple.

In [423]:
t2

(1, 3, 2, 6, 3, 7, 4, 3)

In [424]:
t2 = tuple(sorted(t2))

In [425]:
t2

(1, 2, 3, 3, 3, 4, 6, 7)

28. Convert a tuple of integers to a tuple of strings.

In [426]:
t1

(1, 2, 3, 4, 5)

In [427]:
l31 = list(t1)

In [428]:
for i in range(len(l31)):
    l31[i] = str(l31[i])

In [429]:
tup5 = tuple(l31)

In [430]:
tup5

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [431]:
tup5

('1', '2', '3', '4', '5')

In [432]:
l31 = list(tup5)

In [433]:
for i in range(len(l31)):
    l31[i] = int(l31[i])

In [434]:
tup6 = tuple(l31)

In [435]:
tup6

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [436]:
tup1

(1, 2, 3)

In [437]:
tup3

(1, 2, 4)

In [438]:
tup7 = tup1+tup3

In [439]:
tup7

(1, 2, 3, 1, 2, 4)

31. Flatten a nested tuple.

In [440]:
nested_tuple = (1, 2, 3, (4, 5, 6, 7), (8, 9), 10)

In [441]:
stack = [nested_tuple]
flat_tuple = []

In [442]:
while stack:
    current = stack.pop()
    
    if isinstance(current, tuple):
        stack.extend(current[::-1])
    else:
        flat_tuple.append(current)

In [443]:
print('The flattened tuple is: ', tuple(flat_tuple))

The flattened tuple is:  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

32. Create a tuple of the first 5 prime numbers.

In [444]:
n = 5
primes = []
num = 2

In [445]:
while len(primes) < n:
    is_prime = True
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
    num += 1

In [446]:
prime_tuples = tuple(primes)

In [447]:
print('Tuple of first 5 prime numbers is: ', prime_tuples)

Tuple of first 5 prime numbers is:  (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [448]:
t10 = (1,2,4,2,1)

In [449]:
if t10 == t10[::-1]:
    print('The given tuple is a palindrome.')
else:
    print('The given tuple is not a palindrome.')

The given tuple is a palindrome.

34. Create a tuple of squares of numbers from 1 to 5.

In [450]:
square_tup = []

In [451]:
for i in range(1,6):
    square_tup.append(i**2)

In [452]:
print('The required tuple is', tuple(square_tup))

The required tuple is (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [453]:
t2

(1, 2, 3, 3, 3, 4, 6, 7)

In [454]:
temp = []

In [455]:
for i in t2:
    if i%2!=0:
        temp.append(i)
    else:
        temp

In [456]:
print('The required tuple is', tuple(temp))

The required tuple is (1, 3, 3, 3, 7)

36. Multiply all elements in a tuple by 2.

In [457]:
t1

(1, 2, 3, 4, 5)

In [458]:
temp = []

In [459]:
for i in t1:
    temp.append(i*2)

In [460]:
print('The required tuple is', tuple(temp))

The required tuple is (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [461]:
temp = []

In [462]:
for i in range(7):
    temp.append(random.randrange(1,15))

In [463]:
print('The required tuple is', tuple(temp))

The required tuple is (12, 9, 13, 11, 8, 13, 10)

38. Check if a tuple is sorted.

In [464]:
t11 = (1,2,3,4,5)

In [465]:
res = False

In [466]:
for i in range(len(t11)-1):
    if t11[i+1] < t11[i]:
        res = True
        break
    else:
        res = False

In [467]:
if res == True:
    print('The given tuple is not sorted.')
else:
    print('The given tuple is sorted.')

The given tuple is sorted.

39. Rotate a tuple to the left by `n` positions.

In [468]:
t12 = (1, 5, 3, 7, 4, 6, 9, 2)

In [469]:
n = int(input('Enter the position by which you want to rotate the tuple leftwards:'))

Enter the position by which you want to rotate the tuple leftwards: 3

In [470]:
len_tup = len(t12)

In [471]:
rotated_tup = t12[n:len_tup]+t12[0:n]

In [472]:
print('The rotated tuple is ', rotated_tup)

The rotated tuple is  (7, 4, 6, 9, 2, 1, 5, 3)

40. Rotate a tuple to the right by `n` positions.

In [473]:
t12

(1, 5, 3, 7, 4, 6, 9, 2)

In [474]:
n = int(input('Enter the position by which you want to rotate the tuple rightwards:'))

Enter the position by which you want to rotate the tuple rightwards: 3

In [475]:
len_tup

8

In [476]:
n = n % len_tup

In [477]:
rotated_tup = t12[-n:]+t12[:-n]

In [478]:
print('The rotated tuple is ', rotated_tup)

The rotated tuple is  (6, 9, 2, 1, 5, 3, 7, 4)

41. Create a tuple of the first 5 Fibonacci numbers.

In [479]:
fibo_tup = []

In [480]:
a, b = 0, 1

In [481]:
n = 5

In [482]:
for i in range(n):
    fibo_tup.append(a)
    a, b = b, a+b

In [483]:
print('The required tuple is', tuple(fibo_tup))

The required tuple is (0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [484]:
user_tup = []

In [485]:
n = int(input('Enter the length of tuple:'))

Enter the length of tuple: 5

In [486]:
for i in range(n):
    user_inp = input('Enter an element:')
    user_tup.append(user_inp)

Enter an element: 23
Enter an element: 64
Enter an element: 12
Enter an element: 65
Enter an element: 87

In [487]:
print('The tuple created from user input is ', tuple(user_tup))

The tuple created from user input is  ('23', '64', '12', '65', '87')

43. Swap two elements in a tuple.

In [488]:
t11

(1, 2, 3, 4, 5)

In [489]:
a =int(input('Enter the index of the first element you want to swap:'))

Enter the index of the first element you want to swap: 4

In [490]:
b =int(input('Enter the index of the second element you want to swap:'))

Enter the index of the second element you want to swap: 2

In [491]:
temp = list(t11)

In [492]:
temp[a], temp[b] = temp[b], temp[a]

In [493]:
print('The tuple after swap is: ', tuple(temp))

The tuple after swap is:  (1, 2, 5, 4, 3)

44. Reverse the elements of a tuple.

In [494]:
t11

(1, 2, 3, 4, 5)

In [495]:
new_tup = t11[::-1]

In [496]:
print('The tuple reversed is: ', new_tup)

The tuple reversed is:  (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [497]:
pow_tup = []

In [498]:
n = int(input('Enter the number till which you want power of 2:'))

Enter the number till which you want power of 2: 4

In [499]:
for i in range(1, n+1):
    pow_tup.append(2**i)

In [500]:
pow_tup = tuple(pow_tup)

In [501]:
print('The required tuple is', pow_tup)

The required tuple is (2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [502]:
t13 = ('what', 'are', 'Akash', 'choices', 22)

In [503]:
longest_str = ''

In [504]:
for i in range(len(t13)):
    if type(t13[i])==str:
        if len(longest_str)>len(t13[i]):
            longest_str = longest_str
        else:
            longest_str = t13[i]

In [505]:
print('The longest string in the tuple is:', longest_str)

The longest string in the tuple is: choices

47. Find the shortest string in a tuple of strings.

In [506]:
t13

('what', 'are', 'Akash', 'choices', 22)

In [507]:
shortest_str = """`1234567890-=~!@#$%^&*()_+qwertyuiop[]\QWERTYUIOP{}|asdfghjkl;'ASDFGHJKL:"zxcvbnm,./ZXCVBNM<>?"'"""

In [508]:
for i in range(len(t13)):
    if type(t13[i])==str:
        if len(shortest_str)<len(t13[i]):
            shortest_str = shortest_str
        else:
            shortest_str = t13[i]

In [509]:
print('The shortest string in the tuple is:', shortest_str)

The shortest string in the tuple is: are

48. Create a tuple of the first `n` triangular numbers.

In [510]:
n = int(input('Enter the value till which you want triangular numbers:'))

Enter the value till which you want triangular numbers: 104

In [511]:
tri_num = []

In [512]:
for i in range(1, n+1):
    val = (i * (i + 1))/2
    tri_num.append(int(val))

In [513]:
tri_tup = tuple(tri_num)

In [514]:
print('The required tuple is ', tri_tup)

The required tuple is  (1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91, 105, 120, 136, 153, 171, 190, 210, 231, 253, 276, 300, 325, 351, 378, 406, 435, 465, 496, 528, 561, 595, 630, 666, 703, 741, 780, 820, 861, 903, 946, 990, 1035, 1081, 1128, 1176, 1225, 1275, 1326, 1378, 1431, 1485, 1540, 1596, 1653, 1711, 1770, 1830, 1891, 1953, 2016, 2080, 2145, 2211, 2278, 2346, 2415, 2485, 2556, 2628, 2701, 2775, 2850, 2926, 3003, 3081, 3160, 3240, 3321, 3403, 3486, 3570, 3655, 3741, 3828, 3916, 4005, 4095, 4186, 4278, 4371, 4465, 4560, 4656, 4753, 4851, 4950, 5050, 5151, 5253, 5356, 5460)

49. Check if a tuple contains another tuple as a subsequence.

In [515]:
main_tup = (1, 2, 3, 4, 5, 6, 7, 8, 9)
sub_tup = (4, 5, 6)

In [516]:
main_len = len(main_tup)
sub_len = len(sub_tup)

In [517]:
found = False

In [518]:
for i in range(main_len-sub_len+1):
    match = True
    for j in range(sub_len):
        if main_tup[i+j] != sub_tup[j]:
            match = False
            break
    if match:
        found = True
        break

In [519]:
if found == True:
    print('The main tuple conatins the sub tuple.')
else:
    print('The main tuple does not conatin the sub tuple.')

The main tuple conatins the sub tuple.

50. Create a tuple of alternating 1s and 0s of length `n`.

In [520]:
n = int(input('Enter the length of the tuple:'))

Enter the length of the tuple: 4

In [521]:
binary_tup = []

In [522]:
for i in range(n):
    if i%2==0:
        binary_tup.append(1)
    else:
        binary_tup.append(0)

In [523]:
binary_tup = tuple(binary_tup)

In [524]:
print('The required tuple is ', binary_tup)

The required tuple is  (1, 0, 1, 0)

## Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [525]:
set1 = {1, 2, 3, 4, 5}

2. Add an element to a set.

In [526]:
set1

{1, 2, 3, 4, 5}

In [527]:
set1.update({6})

In [528]:
set1

{1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [529]:
set1

{1, 2, 3, 4, 5, 6}

In [530]:
set1.pop()

1

In [531]:
set1

{2, 3, 4, 5, 6}

4. Check if an element exists in a set.

In [532]:
set1

{2, 3, 4, 5, 6}

In [533]:
check_ele = 4

In [534]:
for i in set1:
    if i==check_ele:
        exists = True
        break
    else:
        exists = False

In [535]:
if exists==True:
    print('The element exists in the given set.')
else:
    print('The element does not exists in the given set.')

The element exists in the given set.

5. Find the length of a set without using the `len()` function.

In [536]:
set1

{2, 3, 4, 5, 6}

In [537]:
set_len = 0

In [538]:
for i in set1:
    set_len += 1

In [539]:
print('The length of the given set is ', set_len)

The length of the given set is  5

6. Clear all elements from a set.

In [540]:
set1

{2, 3, 4, 5, 6}

In [541]:
set1.clear()

In [542]:
set1

set()

7. Create a set of even numbers from 1 to 10.

In [543]:
set1

set()

In [544]:
for i in range(1,11):
    if i%2==0:
        set1.add(i)

In [545]:
print('The required set is ', set1)

The required set is  {2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [546]:
set2 = set()

In [547]:
for i in range(1,11):
    if i%2!=0:
        set2.add(i)

In [548]:
print('The required set is ', set2)

The required set is  {1, 3, 5, 7, 9}

9. Find the union of two sets.

In [549]:
set1

{2, 4, 6, 8, 10}

In [550]:
set2

{1, 3, 5, 7, 9}

In [551]:
set1.union(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

10. Find the intersection of two sets.

In [552]:
set1

{2, 4, 6, 8, 10}

In [553]:
set2

{1, 3, 5, 7, 9}

In [554]:
set1.intersection(set2)

set()

11. Find the difference between two sets.

In [555]:
set3 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [556]:
set1

{2, 4, 6, 8, 10}

In [557]:
set3.difference(set1)

{1, 3, 5, 7, 9}

12. Check if a set is a subset of another set.

In [558]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [559]:
set2

{1, 3, 5, 7, 9}

In [560]:
set2.issubset(set3)

True

13. Check if a set is a superset of another set.

In [561]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [562]:
set1

{2, 4, 6, 8, 10}

In [563]:
set3.issuperset(set1)

True

14. Create a set from a list.

In [564]:
l1

[9, 7, 5, 3, 1]

In [565]:
set4 = set(l1)

In [566]:
set4

{1, 3, 5, 7, 9}

15. Convert a set to a list.

In [567]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [568]:
l27 = list(set3)

In [569]:
l27

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

16. Remove a random element from a set.

In [570]:
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [571]:
random_element = random.choice(list(set3))

In [572]:
set3.remove(random_element)

In [573]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

18. Check if two sets have no elements in common.

In [574]:
set1

{2, 4, 6, 8, 10}

In [575]:
set2

{1, 3, 5, 7, 9}

In [576]:
set1.intersection(set2)

set()

In [577]:
if set1.isdisjoint(set2):
    print('The two sets have nothing in common.')
else:
    print('The two sets have some element in common.')

The two sets have nothing in common.

19. Find the symmetric difference between two sets.

In [578]:
set1

{2, 4, 6, 8, 10}

In [579]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [580]:
sym_diff = set1^set3

In [581]:
print('The symmetric difference between the two sets is', sym_diff)

The symmetric difference between the two sets is {1, 3, 5, 7, 8, 9}

20. Update a set with elements from another set.

In [582]:
set1

{2, 4, 6, 8, 10}

In [583]:
set2

{1, 3, 5, 7, 9}

In [584]:
set1.update(set2)

In [585]:
print('The updated set is', set1)

The updated set is {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

21. Create a set of the first 5 prime numbers.

In [586]:
n = 5
primes = set()
num = 2

In [587]:
while len(primes) < n:
    is_prime = True
    
    for i in range(2, int(num**0.5)+1):
        if num%i==0:
            is_prime = False
            break
    if is_prime:
        primes.add(num)
    num += 1

In [588]:
print('The set of first 5 prime numbers is', primes)

The set of first 5 prime numbers is {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [589]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [590]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [591]:
are_identical = set1==set3

In [592]:
if are_identical:
    print('The sets are identical.')
else:
    print('The sets are not identical.')

The sets are not identical.

23. Create a frozen set.

In [593]:
frz_set = frozenset([1, 2, 3, 4, 5])

In [594]:
print(frz_set)

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [595]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [596]:
set5 = {11, 12, 13, 14, 15}

In [597]:
dj_set = set5.isdisjoint(set1)

In [598]:
if dj_set:
    print('The set is disjoint.')
else:
    print('The set is not disjoint.')

The set is disjoint.

25. Create a set of squares of numbers from 1 to 5.

In [599]:
sq_set = set()

In [600]:
for i in range(1,6):
    sq_set.add(i**2)

In [601]:
print('The required set is ', sq_set)

The required set is  {1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [602]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [603]:
for i in set1.copy():
    if i%2==0:
        set1.discard(i)

In [604]:
print('The new set is ', set1)

The new set is  {1, 3, 5, 7, 9}

27. Multiply all elements in a set by 2.

In [605]:
set1

{1, 3, 5, 7, 9}

In [606]:
set1 = {i*2 for i in set1}

In [607]:
print('The required set is ', set1)

The required set is  {2, 6, 10, 14, 18}

28. Create a set of random numbers.

In [608]:
rndm_set = set()

In [609]:
n = 10

In [610]:
while len(rndm_set)<n:
    rndm_set.add(random.randint(-100,100))

In [611]:
print('The required set is ', rndm_set)

The required set is  {-64, -31, 98, -58, -26, -21, 44, 29, 61, -34}

29. Check if a set is empty.

In [612]:
set5

{11, 12, 13, 14, 15}

In [613]:
if len(set5) == 0:
    print('The set is empty.')
else:
    print('The set is not empty.')

The set is not empty.

30. Create a nested set (hint: use frozenset).

In [614]:
inner_set1 = frozenset([1, 2, 3, 4, 5])
inner_set2 = frozenset([6, 7, 8, 9, 10])
inner_set3 = frozenset([11, 12, 13, 14, 15])

In [615]:
nest_set = {inner_set1, inner_set2, inner_set3}

In [616]:
nest_set

{frozenset({1, 2, 3, 4, 5}),
 frozenset({11, 12, 13, 14, 15}),
 frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [617]:
set1

{2, 6, 10, 14, 18}

In [618]:
set1.discard(6)

In [619]:
set1

{2, 10, 14, 18}

32. Compare two sets.

In [620]:
set1

{2, 10, 14, 18}

In [622]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [623]:
print('Equality: ', set1==set3)

Equality:  False

In [624]:
print('Subset: ', set1.issubset(set3))

Subset:  False

In [625]:
print('Superset: ', set3.issuperset(set1))

Superset:  False

In [627]:
print('Disjoint: ', set3.isdisjoint(set1))

Disjoint:  False

In [628]:
print('Union: ', set3.union(set1))

Union:  {1, 2, 3, 4, 5, 6, 7, 9, 10, 14, 18}

In [629]:
print('Intersection: ', set3.intersection(set1))

Intersection:  {2, 10}

In [630]:
print('Difference: ', set3.difference(set1))

Difference:  {1, 3, 4, 5, 6, 7, 9}

In [631]:
print('Symmetric Difference: ', set3.symmetric_difference(set1))

Symmetric Difference:  {1, 3, 4, 5, 6, 7, 9, 14, 18}

33. Create a set from a string.

In [632]:
s30 = 'Hello World!'

In [633]:
str_set = set(s30)

In [634]:
print('The required set is ', str_set)

The required set is  {'e', ' ', 'r', 'W', 'l', 'o', 'H', 'd', '!'}

34. Convert a set of strings to a set of integers.

In [643]:
s31 = '1234567890'

In [644]:
str_set = set(s31)

In [645]:
str_set

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [647]:
int_set = {int(char) for char in str_set}

In [648]:
int_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

35. Convert a set of integers to a set of strings.

In [650]:
int_set

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [651]:
str_set1 = {str(char) for char in int_set}

In [652]:
str_set

{'0', '1', '2', '3', '4', '5', '6', '7', '8', '9'}

36. Create a set from a tuple.

In [653]:
t1

(1, 2, 3, 4, 5)

In [654]:
tup_set = set(t1)

In [655]:
tup_set

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [656]:
tup_set

{1, 2, 3, 4, 5}

In [657]:
t14 = tuple(tup_set)

In [658]:
t14

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [659]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [660]:
max_val = -999999999999

In [661]:
for i in set3:
    if i>max_val:
        max_val = i

In [662]:
print('The maximum value in the set:', max_val)

The maximum value in the set: 10

39. Find the minimum value in a set.

In [663]:
set3

{1, 2, 3, 4, 5, 6, 7, 9, 10}

In [664]:
min_val = 9999999999999999

In [665]:
for i in set3:
    if i < min_val:
        min_val = i

In [666]:
print('The minimum value in the set:', min_val)

The minimum value in the set: 1

40. Create a set from user input.

In [667]:
set6 = set()

In [668]:
length = int(input('Enter the length of the set: '))

Enter the length of the set:  5

In [670]:
for i in range(length):
    set6.add(input('Enter the value:'))

Enter the value: 54
Enter the value: hy
Enter the value: dsagfsadg
Enter the value: th
Enter the value: 46

In [671]:
print('The required set is ', set6)

The required set is  {'dsagfsadg', 'hy', 'th', '54', '46'}

41. Check if the intersection of two sets is empty.

In [672]:
set1

{2, 10, 14, 18}

In [673]:
set2

{1, 3, 5, 7, 9}

In [674]:
empty_inter = set1.intersection(set2)

In [676]:
if len(empty_inter)==0:
    print('The intersection between the two sets is empty.')
else:
    print('The intersection between the two sets is not empty.')

The intersection between the two sets is empty.

42. Create a set of the first 5 Fibonacci numbers.

In [680]:
fib_set = set()

In [681]:
n = 5

In [682]:
a, b = 0, 1

In [683]:
fib_set.add(a)
fib_set.add(b)

In [684]:
fib_set

{0, 1}

In [685]:
while len(fib_set)<n:
    next_fib = a+b
    fib_set.add(next_fib)
    a, b = b, next_fib

In [686]:
print('The required set is ', fib_set)

The required set is  {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [688]:
l28 = [1, 2, 4, 1, 5, 7, 3, 2, 4, 8, 0, 5, 7, 0]

In [689]:
rmv_dup = set(l28)

In [690]:
l28 = list(rmv_dup)

In [691]:
print('The list after removing duplicates using set is', l28)

The list after removing duplicates using set is [0, 1, 2, 3, 4, 5, 7, 8]

44. Check if two sets have the same elements, regardless of their count.

In [699]:
set7 = {1, 2, 3, 4, 5, 4, 3, 2, 1}

In [700]:
set8 = {5, 3, 1, 2, 4}

In [702]:
if set7==set8:
    print('The two sets have the same elements.')
else:
    print('The two sets have different elements.')

The two sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [720]:
pow_of_two = set()

In [721]:
n = int(input('Enter the length of the set:'))

Enter the length of the set: 5

In [722]:
for i in range(1, n+1):
    pow_of_two.add(2**i)

In [724]:
pow_of_two

{2, 4, 8, 16, 32}

46. Find the common elements between a set and a list.

In [725]:
set1

{2, 10, 14, 18}

In [730]:
temp_list = list(set1)

In [731]:
l3

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [732]:
cmn_elements = []

In [734]:
for i in temp_list:
    for j in l3:
        if i == j:
            cmn_elements.append(i)

In [736]:
cmn_elements = set(cmn_elements)

In [737]:
print('The common elements between the set and the list are', cmn_elements)

The common elements between the set and the list are {18, 2, 10, 14}

47. Create a set of the first `n` triangular numbers.

In [749]:
tri_set = set()

In [750]:
n = int(input('Enter the length till which the triangular numbers are required:'))

Enter the length till which the triangular numbers are required: 10

In [751]:
for i in range(1, n+1):
    next_num = (i*(i+1))/2
    tri_set.add(int(next_num))

In [752]:
tri_set

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

48. Check if a set contains another set as a subset.

In [753]:
set1

{2, 10, 14, 18}

In [754]:
set9 = {2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

In [755]:
sub_set = set1.issubset(set9)

In [756]:
if sub_set:
    print('set1 is a subset of set9.')
else:
    print('set1 is not subset of set9.')

set1 is a subset of set9.

49. Create a set of alternating 1s and 0s of length `n`.

In [757]:
alter_set = set()

In [758]:
n = int(input('Enter the length of the set:'))

Enter the length of the set: 7

In [759]:
for i in range(n):
    if i%2!=0:
        alter_set.add(0)
    else:
        alter_set.add(1)

In [760]:
alter_set

{0, 1}

50. Merge multiple sets into one.

In [761]:
set1

{2, 10, 14, 18}

In [762]:
set2

{1, 3, 5, 7, 9}

In [763]:
merge_set = set1.union(set2)

In [764]:
merge_set

{1, 2, 3, 5, 7, 9, 10, 14, 18}